openapi: 3.2.0
info:
  title: FastSpring Subscriptions API
  description: REST API for FastSpring's ecommerce / merchant-of-record platform.
  version: 1.0.0
  contact:
    name: FastSpring Developer Hub
    url: https://developer.fastspring.com
servers:
- url: https://api.fastspring.com
  description: FastSpring production API
security:
- BasicAuth: []
tags:
- name: Subscriptions
paths:
  /subscriptions:
    get:
      tags:
      - Subscriptions
      summary: List subscription identifiers
      responses:
        '200':
          description: Subscriptions
      operationId: getSubscriptions
      x-operation-id-source: derived
  /subscriptions/{subscription_id}:
    parameters:
    - $ref: '#/components/parameters/SubscriptionId'
    get:
      tags:
      - Subscriptions
      summary: Retrieve a subscription
      responses:
        '200':
          description: Subscription
      operationId: getSubscriptionsBySubscriptionId
      x-operation-id-source: derived
    patch:
      tags:
      - Subscriptions
      summary: Update a subscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated subscription
      operationId: patchSubscriptionsBySubscriptionId
      x-operation-id-source: derived
  /subscriptions/{subscription_id}/entries:
    parameters:
    - $ref: '#/components/parameters/SubscriptionId'
    get:
      tags:
      - Subscriptions
      summary: List subscription transactions
      responses:
        '200':
          description: Entries
      operationId: getSubscriptionsBySubscriptionIdEntries
      x-operation-id-source: derived
  /subscriptions/{subscription_id}/pause:
    parameters:
    - $ref: '#/components/parameters/SubscriptionId'
    post:
      tags:
      - Subscriptions
      summary: Pause a subscription
      responses:
        '200':
          description: Paused
      operationId: postSubscriptionsBySubscriptionIdPause
      x-operation-id-source: derived
  /subscriptions/{subscription_id}/resume:
    parameters:
    - $ref: '#/components/parameters/SubscriptionId'
    post:
      tags:
      - Subscriptions
      summary: Resume a paused subscription
      responses:
        '200':
          description: Resumed
      operationId: postSubscriptionsBySubscriptionIdResume
      x-operation-id-source: derived
  /subscriptions/{subscription_id}/cancel:
    parameters:
    - $ref: '#/components/parameters/SubscriptionId'
    post:
      tags:
      - Subscriptions
      summary: Cancel a subscription
      responses:
        '200':
          description: Canceled
      operationId: postSubscriptionsBySubscriptionIdCancel
      x-operation-id-source: derived
  /subscriptions/{subscription_id}/convert:
    parameters:
    - $ref: '#/components/parameters/SubscriptionId'
    post:
      tags:
      - Subscriptions
      summary: Convert trial to paid
      responses:
        '200':
          description: Converted
      operationId: postSubscriptionsBySubscriptionIdConvert
      x-operation-id-source: derived
components:
  parameters:
    SubscriptionId:
      in: path
      name: subscription_id
      required: true
      schema:
        type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with credentials from FastSpring App Dashboard
