openapi: 3.2.0
info:
  title: FastSpring Orders API
  description: REST API for FastSpring's ecommerce / merchant-of-record platform.
  version: 1.0.0
  contact:
    name: FastSpring Developer Hub
    url: https://developer.fastspring.com
servers:
- url: https://api.fastspring.com
  description: FastSpring production API
security:
- BasicAuth: []
tags:
- name: Orders
paths:
  /orders:
    get:
      tags:
      - Orders
      summary: List orders
      responses:
        '200':
          description: Orders
      operationId: getOrders
      x-operation-id-source: derived
  /orders/{order_id}:
    parameters:
    - $ref: '#/components/parameters/OrderId'
    get:
      tags:
      - Orders
      summary: Retrieve an order
      responses:
        '200':
          description: Order
      operationId: getOrdersByOrderId
      x-operation-id-source: derived
    patch:
      tags:
      - Orders
      summary: Update order tags and attributes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated order
      operationId: patchOrdersByOrderId
      x-operation-id-source: derived
components:
  parameters:
    OrderId:
      in: path
      name: order_id
      required: true
      schema:
        type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with credentials from FastSpring App Dashboard
