openapi: 3.2.0
info:
  title: FastSpring Accounts API
  description: REST API for FastSpring's ecommerce / merchant-of-record platform.
  version: 1.0.0
  contact:
    name: FastSpring Developer Hub
    url: https://developer.fastspring.com
servers:
- url: https://api.fastspring.com
  description: FastSpring production API
security:
- BasicAuth: []
tags:
- name: Accounts
paths:
  /accounts:
    get:
      tags:
      - Accounts
      summary: List accounts
      responses:
        '200':
          description: List of accounts
      operationId: getAccounts
      x-operation-id-source: derived
    post:
      tags:
      - Accounts
      summary: Create an account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Created account
      operationId: postAccounts
      x-operation-id-source: derived
  /accounts/{account_id}:
    parameters:
    - $ref: '#/components/parameters/AccountId'
    get:
      tags:
      - Accounts
      summary: Retrieve an account
      responses:
        '200':
          description: Account
      operationId: getAccountsByAccountId
      x-operation-id-source: derived
    patch:
      tags:
      - Accounts
      summary: Update an account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated account
      operationId: patchAccountsByAccountId
      x-operation-id-source: derived
  /accounts/{account_id}/portal-url:
    parameters:
    - $ref: '#/components/parameters/AccountId'
    get:
      tags:
      - Accounts
      summary: Get an account's management portal URL
      responses:
        '200':
          description: Portal URL
      operationId: getAccountsByAccountIdPortalUrl
      x-operation-id-source: derived
components:
  parameters:
    AccountId:
      in: path
      name: account_id
      required: true
      schema:
        type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with credentials from FastSpring App Dashboard
