openapi: 3.2.0
info:
  title: FastSpring Sessions API
  description: REST API for FastSpring's ecommerce / merchant-of-record platform.
  version: 1.0.0
  contact:
    name: FastSpring Developer Hub
    url: https://developer.fastspring.com
servers:
- url: https://api.fastspring.com
  description: FastSpring production API
security:
- BasicAuth: []
tags:
- name: Sessions
paths:
  /sessions:
    post:
      tags:
      - Sessions
      summary: Create a checkout session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Created session
      operationId: postSessions
      x-operation-id-source: derived
  /sessions/{session_id}:
    parameters:
    - $ref: '#/components/parameters/SessionId'
    get:
      tags:
      - Sessions
      summary: Retrieve a session
      responses:
        '200':
          description: Session
      operationId: getSessionsBySessionId
      x-operation-id-source: derived
    patch:
      tags:
      - Sessions
      summary: Update a session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated session
      operationId: patchSessionsBySessionId
      x-operation-id-source: derived
  /sessions/{session_id}/items:
    parameters:
    - $ref: '#/components/parameters/SessionId'
    post:
      tags:
      - Sessions
      summary: Add items to a session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated items
      operationId: postSessionsBySessionIdItems
      x-operation-id-source: derived
  /sessions/{session_id}/items/{item_id}:
    parameters:
    - $ref: '#/components/parameters/SessionId'
    - in: path
      name: item_id
      required: true
      schema:
        type: string
    patch:
      tags:
      - Sessions
      summary: Update a session item
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated item
      operationId: patchSessionsBySessionIdItemsByItemId
      x-operation-id-source: derived
    delete:
      tags:
      - Sessions
      summary: Delete a session item
      responses:
        '200':
          description: Deleted
      operationId: deleteSessionsBySessionIdItemsByItemId
      x-operation-id-source: derived
  /sessions/{session_id}/payment-methods:
    parameters:
    - $ref: '#/components/parameters/SessionId'
    get:
      tags:
      - Sessions
      summary: Retrieve available payment methods for a session
      responses:
        '200':
          description: Payment methods
      operationId: getSessionsBySessionIdPaymentMethods
      x-operation-id-source: derived
components:
  parameters:
    SessionId:
      in: path
      name: session_id
      required: true
      schema:
        type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with credentials from FastSpring App Dashboard
