openapi: 3.1.0
info:
  title: FastSpring Accounts Data API
  description: REST API for FastSpring's ecommerce / merchant-of-record platform. Covers orders, subscriptions, products, coupons, accounts (customers), sessions (checkout), invoices, quotes, returns, events (webhook history), data jobs (reports), and webhook key rotation. Authenticated via HTTP Basic credentials issued from the FastSpring App Dashboard under Integrations > API Credentials. Rate limited to 250 calls per minute per IP. Requires TLS 1.2+, UTF-8 encoding, a User-Agent header, and Content-Type application/json on writes.
  version: 1.0.0
  contact:
    name: FastSpring Developer Hub
    url: https://developer.fastspring.com
servers:
- url: https://api.fastspring.com
  description: FastSpring production API
security:
- BasicAuth: []
tags:
- name: Data
paths:
  /data/jobs/revenue-report:
    post:
      tags:
      - Data
      summary: Generate a revenue data job
      responses:
        '200':
          description: Job created
  /data/jobs/subscription-report:
    post:
      tags:
      - Data
      summary: Generate a subscription data job
      responses:
        '200':
          description: Job created
  /data/jobs/{job_id}:
    parameters:
    - in: path
      name: job_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Data
      summary: Get data job status
      responses:
        '200':
          description: Job
  /data/jobs/{job_id}/download:
    parameters:
    - in: path
      name: job_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Data
      summary: Download a completed data job report
      responses:
        '200':
          description: Report
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with credentials from FastSpring App Dashboard
