openapi: 3.2.0
info:
  title: FastSpring Quotes API
  description: REST API for FastSpring's ecommerce / merchant-of-record platform.
  version: 1.0.0
  contact:
    name: FastSpring Developer Hub
    url: https://developer.fastspring.com
servers:
- url: https://api.fastspring.com
  description: FastSpring production API
security:
- BasicAuth: []
tags:
- name: Quotes
paths:
  /quotes:
    get:
      tags:
      - Quotes
      summary: List quotes
      responses:
        '200':
          description: Quotes
      operationId: getQuotes
      x-operation-id-source: derived
    post:
      tags:
      - Quotes
      summary: Create a quote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Created quote
      operationId: postQuotes
      x-operation-id-source: derived
  /quotes/{quote_id}:
    parameters:
    - in: path
      name: quote_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Quotes
      summary: Retrieve a quote
      responses:
        '200':
          description: Quote
      operationId: getQuotesByQuoteId
      x-operation-id-source: derived
    patch:
      tags:
      - Quotes
      summary: Update a quote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated quote
      operationId: patchQuotesByQuoteId
      x-operation-id-source: derived
  /quotes/{quote_id}/cancel:
    parameters:
    - in: path
      name: quote_id
      required: true
      schema:
        type: string
    post:
      tags:
      - Quotes
      summary: Cancel a quote
      responses:
        '200':
          description: Canceled
      operationId: postQuotesByQuoteIdCancel
      x-operation-id-source: derived
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with credentials from FastSpring App Dashboard
