openapi: 3.1.0
info:
  title: FastSpring Accounts Quotes API
  description: REST API for FastSpring's ecommerce / merchant-of-record platform. Covers orders, subscriptions, products, coupons, accounts (customers), sessions (checkout), invoices, quotes, returns, events (webhook history), data jobs (reports), and webhook key rotation. Authenticated via HTTP Basic credentials issued from the FastSpring App Dashboard under Integrations > API Credentials. Rate limited to 250 calls per minute per IP. Requires TLS 1.2+, UTF-8 encoding, a User-Agent header, and Content-Type application/json on writes.
  version: 1.0.0
  contact:
    name: FastSpring Developer Hub
    url: https://developer.fastspring.com
servers:
- url: https://api.fastspring.com
  description: FastSpring production API
security:
- BasicAuth: []
tags:
- name: Quotes
paths:
  /quotes:
    get:
      tags:
      - Quotes
      summary: List quotes
      responses:
        '200':
          description: Quotes
    post:
      tags:
      - Quotes
      summary: Create a quote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Created quote
  /quotes/{quote_id}:
    parameters:
    - in: path
      name: quote_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Quotes
      summary: Retrieve a quote
      responses:
        '200':
          description: Quote
    patch:
      tags:
      - Quotes
      summary: Update a quote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated quote
  /quotes/{quote_id}/cancel:
    parameters:
    - in: path
      name: quote_id
      required: true
      schema:
        type: string
    post:
      tags:
      - Quotes
      summary: Cancel a quote
      responses:
        '200':
          description: Canceled
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with credentials from FastSpring App Dashboard
