openapi: 3.1.0
info:
  title: FastSpring Accounts API
  description: REST API for FastSpring's ecommerce / merchant-of-record platform. Covers orders, subscriptions, products, coupons, accounts (customers), sessions (checkout), invoices, quotes, returns, events (webhook history), data jobs (reports), and webhook key rotation. Authenticated via HTTP Basic credentials issued from the FastSpring App Dashboard under Integrations > API Credentials. Rate limited to 250 calls per minute per IP. Requires TLS 1.2+, UTF-8 encoding, a User-Agent header, and Content-Type application/json on writes.
  version: 1.0.0
  contact:
    name: FastSpring Developer Hub
    url: https://developer.fastspring.com
servers:
- url: https://api.fastspring.com
  description: FastSpring production API
security:
- BasicAuth: []
tags:
- name: Accounts
paths:
  /accounts:
    get:
      tags:
      - Accounts
      summary: List accounts
      responses:
        '200':
          description: List of accounts
    post:
      tags:
      - Accounts
      summary: Create an account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Created account
  /accounts/{account_id}:
    parameters:
    - $ref: '#/components/parameters/AccountId'
    get:
      tags:
      - Accounts
      summary: Retrieve an account
      responses:
        '200':
          description: Account
    patch:
      tags:
      - Accounts
      summary: Update an account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated account
  /accounts/{account_id}/portal-url:
    parameters:
    - $ref: '#/components/parameters/AccountId'
    get:
      tags:
      - Accounts
      summary: Get an account's management portal URL
      responses:
        '200':
          description: Portal URL
components:
  parameters:
    AccountId:
      in: path
      name: account_id
      required: true
      schema:
        type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with credentials from FastSpring App Dashboard
