openapi: 3.2.0
info:
  title: FastSpring Coupons API
  description: REST API for FastSpring's ecommerce / merchant-of-record platform.
  version: 1.0.0
  contact:
    name: FastSpring Developer Hub
    url: https://developer.fastspring.com
servers:
- url: https://api.fastspring.com
  description: FastSpring production API
security:
- BasicAuth: []
tags:
- name: Coupons
paths:
  /coupons:
    get:
      tags:
      - Coupons
      summary: List coupon identifiers
      responses:
        '200':
          description: Coupons
      operationId: getCoupons
      x-operation-id-source: derived
  /coupons/{coupon_id}:
    parameters:
    - $ref: '#/components/parameters/CouponId'
    get:
      tags:
      - Coupons
      summary: Retrieve a coupon
      responses:
        '200':
          description: Coupon
      operationId: getCouponsByCouponId
      x-operation-id-source: derived
    post:
      tags:
      - Coupons
      summary: Create or update a coupon
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Coupon
      operationId: postCouponsByCouponId
      x-operation-id-source: derived
    delete:
      tags:
      - Coupons
      summary: Delete a coupon
      responses:
        '200':
          description: Deleted
      operationId: deleteCouponsByCouponId
      x-operation-id-source: derived
  /coupons/{coupon_id}/codes:
    parameters:
    - $ref: '#/components/parameters/CouponId'
    get:
      tags:
      - Coupons
      summary: List codes for a coupon
      responses:
        '200':
          description: Codes
      operationId: getCouponsByCouponIdCodes
      x-operation-id-source: derived
    post:
      tags:
      - Coupons
      summary: Add codes to a coupon
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated codes
      operationId: postCouponsByCouponIdCodes
      x-operation-id-source: derived
    delete:
      tags:
      - Coupons
      summary: Delete all codes for a coupon
      responses:
        '200':
          description: Deleted
      operationId: deleteCouponsByCouponIdCodes
      x-operation-id-source: derived
components:
  parameters:
    CouponId:
      in: path
      name: coupon_id
      required: true
      schema:
        type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with credentials from FastSpring App Dashboard
