openapi: 3.1.0
info:
  title: FastSpring Accounts Invoices API
  description: REST API for FastSpring's ecommerce / merchant-of-record platform. Covers orders, subscriptions, products, coupons, accounts (customers), sessions (checkout), invoices, quotes, returns, events (webhook history), data jobs (reports), and webhook key rotation. Authenticated via HTTP Basic credentials issued from the FastSpring App Dashboard under Integrations > API Credentials. Rate limited to 250 calls per minute per IP. Requires TLS 1.2+, UTF-8 encoding, a User-Agent header, and Content-Type application/json on writes.
  version: 1.0.0
  contact:
    name: FastSpring Developer Hub
    url: https://developer.fastspring.com
servers:
- url: https://api.fastspring.com
  description: FastSpring production API
security:
- BasicAuth: []
tags:
- name: Invoices
paths:
  /invoices:
    post:
      tags:
      - Invoices
      summary: Create a custom invoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Invoice
  /invoices/{invoice_id}:
    parameters:
    - in: path
      name: invoice_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Invoices
      summary: Retrieve an invoice
      responses:
        '200':
          description: Invoice
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with credentials from FastSpring App Dashboard
