openapi: 3.2.0
info:
  title: FastSpring Products API
  description: REST API for FastSpring's ecommerce / merchant-of-record platform.
  version: 1.0.0
  contact:
    name: FastSpring Developer Hub
    url: https://developer.fastspring.com
servers:
- url: https://api.fastspring.com
  description: FastSpring production API
security:
- BasicAuth: []
tags:
- name: Products
paths:
  /products:
    get:
      tags:
      - Products
      summary: List product path identifiers
      responses:
        '200':
          description: Products
      operationId: getProducts
      x-operation-id-source: derived
    post:
      tags:
      - Products
      summary: Create or update products (batch up to 300)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Result
      operationId: postProducts
      x-operation-id-source: derived
  /products/{product_path}:
    parameters:
    - $ref: '#/components/parameters/ProductPath'
    get:
      tags:
      - Products
      summary: Retrieve a product
      responses:
        '200':
          description: Product
      operationId: getProductsByProductPath
      x-operation-id-source: derived
    delete:
      tags:
      - Products
      summary: Delete a product
      responses:
        '200':
          description: Deleted
      operationId: deleteProductsByProductPath
      x-operation-id-source: derived
  /products/{product_path}/prices:
    parameters:
    - $ref: '#/components/parameters/ProductPath'
    get:
      tags:
      - Products
      summary: Retrieve product prices
      responses:
        '200':
          description: Prices
      operationId: getProductsByProductPathPrices
      x-operation-id-source: derived
components:
  parameters:
    ProductPath:
      in: path
      name: product_path
      required: true
      schema:
        type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with credentials from FastSpring App Dashboard
