openapi: 3.2.0
info:
  title: FastSpring Data API
  description: REST API for FastSpring's ecommerce / merchant-of-record platform.
  version: 1.0.0
  contact:
    name: FastSpring Developer Hub
    url: https://developer.fastspring.com
servers:
- url: https://api.fastspring.com
  description: FastSpring production API
security:
- BasicAuth: []
tags:
- name: Data
paths:
  /data/jobs/revenue-report:
    post:
      tags:
      - Data
      summary: Generate a revenue data job
      responses:
        '200':
          description: Job created
      operationId: postDataJobsRevenueReport
      x-operation-id-source: derived
  /data/jobs/subscription-report:
    post:
      tags:
      - Data
      summary: Generate a subscription data job
      responses:
        '200':
          description: Job created
      operationId: postDataJobsSubscriptionReport
      x-operation-id-source: derived
  /data/jobs/{job_id}:
    parameters:
    - in: path
      name: job_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Data
      summary: Get data job status
      responses:
        '200':
          description: Job
      operationId: getDataJobsByJobId
      x-operation-id-source: derived
  /data/jobs/{job_id}/download:
    parameters:
    - in: path
      name: job_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Data
      summary: Download a completed data job report
      responses:
        '200':
          description: Report
      operationId: getDataJobsByJobIdDownload
      x-operation-id-source: derived
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with credentials from FastSpring App Dashboard
